body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow: hidden; */
}

/* Landing section */
.landing {
  height: 100vh;
  background: url("lucian-alexe-f2xfTOv0p9Y-unsplash.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

.landing h1, .landing p {
  text-shadow: 2px 2px 10px rgba(0,0,0,0.6);
}

#scrollBtn, #toHoursBtn, #toSecondsBtn , #toFindNextBtn {
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
}


.calc-section {
  height: 100vh;
  background: #f8f9fa;
}

.result {
  background: #f8f9fa;
  padding: 15px;
  border-radius: 10px;
  font-size: 1rem;
}

#next-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

#next-number button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

#next-number button:hover {
  background-color: #0056b3;
}

#toFindNextBtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #333;
  background: white;
  color: #333;
  font-size: 20px;
  margin-top: 20px;
  transition: all 0.3s ease;
}

#toFindNextBtn:hover {
  background: #007bff;
  color: #fff;
  border-color: #007bff;
  transform: translateY(3px);
}
